h1 {
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

.main_text {
    margin: auto;
    text-align: center;
    width: 50%;
    padding-top: 2em;
    font-family: 'Barlow', sans-serif;
}