body {
    font-family: 'Barlow', sans-serif;
    background-image: url("peak_background.svg");
    background-repeat: no-repeat;
    background-size: 200% 200%;
    color: white;
}

h1 {
    text-align: center;
}

.main_text {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
    width: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
    font-family: 'Barlow', sans-serif;
}

.main_text > .hurt_feelings {
    padding-top: 15em;
}

.credits {
    /* In case this does magically work out once rest of the design is done */
    /* font-family: 'Playpen Sans', cursive; */
    position:fixed;
    left:0px;
    opacity: 50%;
    bottom:0px;
    width:100%;
    padding-bottom: 0.5em;
}